.register{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 40px;
}

.register .logo{
    margin-top: 30px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.register .login-text{
    color: blue;
    margin-top: 10px;
}

.register .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.register .font-medium{
    font-size: 20px;
    margin: 5px 0 5px 0;;
}

.register .input {
    border: #1d58bf;
    border-radius: 15px;
    padding: 8px;

}

.register .button{
    margin-top: 30px;
    width: 300px;
    font-size: 20px;
    background: #1d58bf;
    color: white;
    padding: 2px;
    border-radius: 10px;
    border: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.register .button:hover{
    transition: 0.2s ease;
    background-color: white;
    color: #1d58bf;
}

.register .center{
    display: flex;
    justify-content: center;
}

.register .blur{
    background: rgba(198, 198, 198, 0.15); /* Fondo semi-transparente negro */
    backdrop-filter: blur(5px); /* Efecto borroso */

}