<style>
    * {
      padding: 0;
      margin: 0;
      font-family: "Poppins", sans-serif;
    }
    .link {
      text-decoration: none;
      color: inherit;
    }
</style>

<div class="admin">
  <%- include('./../components/navbarAdmin.ejs') %>

  

</div>