<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/pages/catalogue.css">
<style>
  * {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }
</style>

<%- include('./../components/navbar.ejs') %>

<div>
    <div class="container">
      <center>
      <h1>Servicios</h1>
      <hr style="background-color: rgb(187, 187, 187); height: 3px; width: 90%; margin-bottom: 30px;">
  
    </center>
  
      <div class="row">
        <% services.forEach(service => { %>
          <%- include('./../components/servicecardcat', { service }) %>
        <% }) %>
      </div>
    </div>
</div>
  




<%- include('./../components/footer.ejs') %>