<link rel="stylesheet" href="../styles/pages/home.css">

<div class="home">
    <%- include('./../components/featured') %>
    <%- include('./../components/trustedby') %>
    
    <%- include('./../components/slide', { cards: cards }) %>
    

    <div class="features">
        <div class="container">
          <div class="item">
            <h1>Todo un mundo de talentos a sólo un click de distancia...</h1>
            <div class="title">
              <img src="./image/check.png" alt="" />
              Lo mejor para cada tipo de bolsillo
            </div>
            <p>
              Encuentre servicios de alta calidad a todos los precios. 
              Sin tarifas por hora, sólo precios por proyecto.
            </p>
            <div class="title">
              <img src="./image/check.png" alt="" />
              Trabajo de calidad realizado rápidamente
            </div>
            <p>
              Encuentra al desarrollador correcto para que empiece a
              trabajar tu proyecto en cuestión de minutos.
            </p>
            <div class="title">
              <img src="./image/check.png" alt="" />
              Pagos protegidos, a todas horas
            </div>
            <p>
              Sepa siempre cuando pagar por adelantado. 
              El pago no se efectuará hasta que des por aprobado el trabajo.
            </p>
            <div class="title">
              <img src="./image/check.png" alt="" />
              Soporte disponible las 24/7
            </div>
            <p>
              Siéntase tranquilo sabiendo que el soporte hará lo que
              sea para brindarle una buena experiencia.
            </p>
          </div>
          <div class="item">
            <video src="./image/video.mp4" controls />
          </div>
        </div>
      </div>
      <div class="explore">
        <div class="container">
          <h1>Explora el mercado</h1>
          <div class="items">
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/graphics-design.d32a2f8.svg"
                alt=""
              />
              <div class="line"></div>
              <span>Diseño Gráfico</span>
            </div>
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/online-marketing.74e221b.svg"
                alt=""
              />
              <div class="line"></div>

              <span>Comercio Electrónico</span>
            </div>
           
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/video-animation.f0d9d71.svg"
                alt=""
              />
              <div class="line"></div>
              <span>Video y Animación</span>
            </div>
        
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/programming.9362366.svg"
                alt=""
              />
              <div class="line"></div>
              <span>Programación</span>
            </div>
         
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/data.718910f.svg"
                alt=""
              />
              <div class="line"></div>
              <span>Análisis de Datos</span>
            </div>
        
          </div>
        </div>
      </div>
      <div class="features dark">
        <div class="container">
          <div class="item">
            <h1>
              CodeConnect <i>business</i>
            </h1>
            <h1>
              Una solución de negocios diseñada para <i>equipos</i>
            </h1>
            <p>
              Mejora tu plan para obtener una experiencia llena de herramientas
              y beneficios dedicados a tu negocio
            </p>
            <div class="title">
              <img src="./image/check.png" alt="" />
              Conéctate con freelancers para probar la experiencia de negocio
            </div>

            <div class="title">
              <img src="./image/check.png" alt="" />
              Conoce al tipo de talento perfecto 
            </div>

            <div class="title">
              <img src="./image/check.png" alt="" />
              Maneja el trabajo en equipo y potencia tu productividad con 
              entorno de trabajo mas poderoso
            </div>
            <button>Explora CodeConnect Business</button>
          </div>
          <div class="item">
            <img
              src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_870,dpr_2.0/v1/attachments/generic_asset/asset/d9c17ceebda44764b591a8074a898e63-1599597624768/business-desktop-870-x2.png"
              alt=""
            />
          </div>
        </div>
      </div>
      



</div>