<link rel="stylesheet" href="../styles/components/catcard.css">
<a href="/services?cat=design">
    <div class="catCard">
        <img src="<%= card.img %>" alt="<%= card.title %>">
    <!--    <span class="desc"><%= card.desc %></span>-->
        <span class="title"><%= card.title %></span>
    </div>
</a>