<link rel="stylesheet" href="../styles/components/featured.css">
<div class="featured">
    <div class="container">
      <div class="left">
        <h1>
          Encuentra el servicio <span>Perfecto</span> para tu negocio
        </h1>

        
        <div class="search">
          <a href="/services/catalogue" class="btn btn-primary" style="width: 100%; height: 100%; font-size: 30px;">Ver los servicios</a>
      
        </div>


        <div class="popular">
          <span>Popular:</span>
          <button>Diseño Web</button>
          <button>Ciberseguridad</button>
          <button>Desarrollo de Software</button>
          <button>Servicios de IA</button>
        </div>
      </div>
      <div class="right">
        <img src="../image/man.png" alt="" />
      </div>
    </div>
</div>