<link rel="stylesheet" href="/styles/components/footer.css">
<div class="footer">
    <div class="container">
        <div class="top">
            <div class="item">
                <h2>Categorías</h2>
                <span>Desarrollo de Software</span>
                <span>Programación Web</span>
                <span>Ciberseguridad</span>
                <span>Diseño Gráfico</span>
                <span>Video y Animación</span>
                <span>Análisis de Datos</span>
                <span>Servicios de IA</span>
                <span>Comercio Electrónico</span>
            </div>
            <div class="item">
                <h2>Acerca de</h2>
                <span>Noticias</span>
                <span>Patrocinadores</span>
                <span>Política de Privacidad</span>
                <span>Términos y Condiciones</span>
                <span>Propiedad Intelectual</span>
                <span>Inversores</span>
                <span>Contacto</span>
            </div>
            <div class="item">
                <h2>Soporte</h2>
                <span>Ayuda y Soporte</span>
                <span>Confianza y Seguridad</span>
                <span>Vender en CodeConnect</span>
                <span>Comprar en CodeConnect</span>
            </div>
            <div class="item">
                <h2>Comunidad</h2>
                <span>Casos de Éxito de Compradores</span>
                <span>Comunidad</span>
                <span>Foro</span>
                <span>Eventos</span>
                <span>Blog</span>
                <span>Influencers</span>
                <span>Afiliados</span>
                <span>Podcast</span>
                <span>Invitar a Amigos</span>
                <span>Conviértete en Vendedor</span>
                <span>Estándares de la Comunidad</span>
            </div>
            <div class="item">
                <h2>Más de CodeConnect</h2>
                <span>CodeConnect Bussiness</span>
                <span>CodeConnect Plus</span>
                <span>CodeConnect Logo Maker</span>
                <span>CodeConnect Guides</span>
                <span>Inspírate</span>
                <span>CodeConnect Select</span>
                <span>ClearVoice</span>
                <span>CodeConnect Workspace</span>
                <span>Aprender</span>
                <span>Trabaja de Manera Cómoda</span>
            </div>
        </div>
        <hr />
        <div class="bottom">
            <div class="left">
                <h2>CodeConnect</h2>
                <span>© CodeConnect 2024.</span>
            </div>
            <div class="right">
                <div class="social">
                    <img src="/image/twitter.png" alt="" />
                    <img src="/image/facebook.png" alt="" />
                    <img src="/image/linkedin.png" alt="" />
                    <img src="/image/pinterest.png" alt="" />
                    <img src="/image/instagram.png" alt="" />
                </div>
                <div class="link">
                    <img src="/image/language.png" alt="" />
                    <span>Español</span>
                </div>
                <div class="link">
                    <img src="/image/coin.png" alt="" />
                    <span>MXN</span>
                </div>
                <img src="/image/accessibility.png" alt="" />
            </div>
        </div>
    </div>
</div>