<link rel="stylesheet" href="../styles/bootstrap.min.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 5;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 50px;" href="/admin">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <center>
    <div class="collapse navbar-collapse" id="navbarColor04" style="display: flex;">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/users" style="font-size: 25px;">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/services" style="font-size: 25px;">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories" style="font-size: 25px;">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders" style="font-size: 25px;">Pedidos</a>
        </li>
      </ul>
    </div>
  </center>
  </div>
</nav>